{% extends 'base.html.twig' %}

{% block title %}The District - Accueil{% endblock %}

{% block body %}


<div id="test">

    <div>
    <br><br><br><br>
    </div>

    <div class="mx-4">
    <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Que cherchez vous ?">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
    <br> <br><br>
    <div>

</div>


<div class="container">
    <h2>Catégories :</h2><br>
    <div class="row col-12">


    {% for categorie in categorie|slice(0, 6) %}

        <div class="card text-white bg-dark mb-2 mx-3" style="max-width: 10rem;">
                <div class="card-header">
                {{ categorie.libelle }}
                </div>
                <div class="card-link mb-3">
                <a href="{{ path('detail.categorie', {'id': categorie.id}) }}"><img src={{ asset('images_the_district/category/mini/300x300-' ~ categorie.image ) }} width=100%></a>
                </div>
        </div>
    {% endfor %}
    </div>
</div>

<br>

<div class="container">
    <h2>Nos plats phares :</h2><br>
    <div class="row">


    {% for plat in plat|slice(0, 3) %}

        <div class="card text-white bg-dark mb-2 mx-3" style="max-width: 15rem;">
                <div class="card-header">
                {{ plat.libelle }}
                </div>
                <div class="card-link mb-3">
                <a href="{{ path('detail.plat', {'id': plat.id}) }}"><img src="{{ asset('images_the_district/plat/mini/300x300-' ~ plat.image ) }}" width=100%></a>
                </div>
        </div>
    {% endfor %}
    </div>
</div>



{% endblock %}